//
// Stat Box
//

$stat-bg-color: $gray-1;
$stat-border-color: $gray-2;
$stat-left-border: 2px solid $gray-2;
$stat-padding: 1.35rem;

$stat-title-color: $gray-3;

.stat {
  background-color: $stat-bg-color;
  border-left: $stat-left-border;
  padding: $stat-padding;
}

.stat__title {
  color: $stat-title-color;
}
