save-prefix=''
# Makes workspace scripts work from the root (otherwise, binaries like eslint, stylelint, etc. cannot be found).
# Prevents unexpected errors from appearing (e.g. when running eslint, vue-tsc)
node-linker=hoisted
