<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <!-- This trailing slash matters! Do not remove it. See also: https://stackoverflow.com/a/26043021/2036825 -->
  <base href="<%- baseGuiPath %>/" />

  <link rel="icon" href="/favicon.png" />
  <title>Manager</title>

  <script type="application/json" id="kuma-config"><%- config %></script>

  <script type="module" src="/src/main.ts"></script>
</head>

<body>
  <noscript>
    <strong>
      We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.
    </strong>
  </noscript>

  <div id="app"></div>
</body>

</html>
