@use "@kong/design-tokens/tokens/scss/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: $kui-font-size-40;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
}

body {
  margin: 0;
  tab-size: 2;
  color: var(--x-color-text);
  font-family: var(--x-font-family-text);
  font-weight: var(--x-font-weight-regular);
}


blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre,
ul,
ol {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--x-font-weight-bold);
}

h1 {
  font-size: var(--x-font-size-70);
}

h2 {
  font-size: var(--x-font-size-40);
}

h3 {
  font-size: var(--x-font-size-40);
}

h4 {
  font-size: var(--x-font-size-30);
}

h5 {
  font-size: var(--x-font-size-30);
}

h6 {
  font-size: var(--x-font-size-30);
}

ul,
ol {
  padding-left: var(--x-space-80);
}

h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  &:not(:first-child) {
    margin-top: var(--x-space-50);
  }
}

p:empty {
  display: none;
}

dl p:not(:first-child) {
  margin-top: var(--x-space-10);
}

a {
  text-decoration: none;
}

b,
strong {
  font-weight: var(--x-font-weight-semibold);
}

small {
  font-size: 0.8em;
}

code,
kbd,
pre {
  font-size: 1em;
}

textarea {
  resize: vertical;
}

img,
svg,
iframe {
  vertical-align: middle;
}

// @TODO(jc): We either need a better way to turn this off (maybe :not([height])
// or it needs removing entirely
img:not(.no-auto-height) {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none !important;
}

fieldset {
  border: none;
}


label {
  display: block;
}

button,
input,
optgroup,
select {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

input {
  appearance: none;
  border: var(--x-border-width-10) solid var(--x-color-border);
  border-radius: 3px;
  font: inherit;
  margin: 0;
  padding: var(--x-space-40);
  color: currentColor;
  background-color: var(--x-color-background);
}

select {
  appearance: none;
  border: var(--x-border-width-10) solid var(--x-color-border);
  border-radius: 3px;
  font-size: var(--x-font-size-40);
  padding: 10px 30px 10px 13px;
  background-color: var(--x-color-background);
  background-image: url('@/assets/images/chevron-down.svg?url');
  background-position: calc(100% - 13px) 50%;
  background-repeat: no-repeat;
}
