@use "@kong/design-tokens/tokens/scss/variables" as *;

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip-path: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt-1 {
  margin-top: var(--x-space-20) !important;
}
.mt-2 {
  margin-top: var(--x-space-40) !important;
}
.mt-3 {
  margin-top: var(--x-space-50) !important;
}
.mt-4 {
  margin-top: var(--x-space-60) !important;
}
.mt-5 {
  margin-top: var(--x-space-80) !important;
}
.mt-6 {
  margin-top: var(--x-space-90) !important;
}
.mt-7 {
  margin-top: var(--x-space-110) !important;
}
.mt-8 {
  margin-top: var(--x-space-110) !important;
}

.mb-auto {
  margin-bottom: auto !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.mb-1 {
  margin-bottom: var(--x-space-20) !important;
}
.mb-2 {
  margin-bottom: var(--x-space-40) !important;
}
.mb-3 {
  margin-bottom: var(--x-space-50) !important;
}
.mb-4 {
  margin-bottom: var(--x-space-60) !important;
}
.mb-5 {
  margin-bottom: var(--x-space-80) !important;
}
.mb-6 {
  margin-bottom: var(--x-space-90) !important;
}
.mb-7 {
  margin-bottom: var(--x-space-110) !important;
}
.mb-8 {
  margin-bottom: var(--x-space-110) !important;
}

.mr-auto {
  margin-right: auto !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mr-1 {
  margin-right: var(--x-space-20) !important;
}
.mr-2 {
  margin-right: var(--x-space-40) !important;
}
.mr-3 {
  margin-right: var(--x-space-50) !important;
}
.mr-4 {
  margin-right: var(--x-space-60) !important;
}
.mr-5 {
  margin-right: var(--x-space-80) !important;
}
.mr-6 {
  margin-right: var(--x-space-90) !important;
}
.mr-7 {
  margin-right: var(--x-space-110) !important;
}
.mr-8 {
  margin-right: var(--x-space-110) !important;
}

.ml-auto {
  margin-left: auto !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.ml-1 {
  margin-left: var(--x-space-20) !important;
}
.ml-2 {
  margin-left: var(--x-space-40) !important;
}
.ml-3 {
  margin-left: var(--x-space-50) !important;
}
.ml-4 {
  margin-left: var(--x-space-60) !important;
}
.ml-5 {
  margin-left: var(--x-space-80) !important;
}
.ml-6 {
  margin-left: var(--x-space-90) !important;
}
.ml-7 {
  margin-left: var(--x-space-110) !important;
}
.ml-8 {
  margin-left: var(--x-space-110) !important;
}
