@use "@kong/design-tokens/tokens/scss/variables" as *;

:root {
  // COMPONENTS
  --AppHeaderHeight: 60px;
  --AppSidebarWidth: 240px;
  --AppContentPadding: #{$kui-space-80};
  --AppDisplay: grid;
  --app-slideout-offset-top: var(--AppHeaderHeight);
}

:root.is-fullscreen {
  --AppHeaderHeight: 0;
  --AppSidebarWidth: 0;
  --AppContentPadding: 0;
  --AppDisplay: block;
}
