overlay: 1.0.0
info:
  title: Overlay to customise API for Kuma
  version: 0.1.0
extends: ./dist/openapi.yaml
actions:
  # versioning
  - target: "$.info"
    update:
      x-oas-source: kumahq/kuma@${GIT_SHA}

  # dates to string
  - target: '$..[?(@.creationTime)]'
    update:
      creationTime:
        type: string
  - target: '$..[?(@.modificationTime)]'
    update:
      modificationTime:
        type: string

  - target: '$..[?(@.connectTime)]'
    update:
      connectTime:
        type: string
  - target: '$..[?(@.disconnectTime)]'
    update:
      disconnectTime:
        type: string

  - target: '$..[?(@.lastUpdateTime)]'
    update:
      lastUpdateTime:
        type: string

  - target: '$..[?(@.certificateExpirationTime)]'
    update:
      certificateExpirationTime:
        type: string
  - target: '$..[?(@.lastCertificateRegeneration)]'
    update:
      lastCertificateRegeneration:
        type: string
