*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: var(--AppHeaderHeight, initial);
  tab-size: 2;
  font-size: 1em;
  font-family: var(--font-family-sans);
  line-height: 1.5;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}


a {
  text-decoration: underline;
}

a:link,
a:visited {
  color: var(--blue-700);
}

a:hover,
a:active,
a:focus {
  color: var(--blue-500);
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 0.8em;
}

code,
kbd,
pre {
  font-size: 1em;
}

textarea {
  resize: vertical;
}

// Backwards compatibility with old Tailwind styles. We shouldn’t reset this, but many components currently rely on it.
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img,
svg,
iframe {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none !important;
}

button,
input,
optgroup,
select {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

button {
  background: none;
  border: none;
}

select {
  appearance: none;
  border: 1px solid var(--grey-300);
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 30px 10px 13px;
  background-color: var(--white);
  background-image: url('@/assets/images/chevron-down.svg?url');
  background-position: calc(100% - 13px) 50%;
  background-repeat: no-repeat;
}
