/*
.stack

For stacking elements with consistent space between.

Adapted from https://every-layout.dev/layouts/stack/.
*/

.stack>*+* {
  margin-block-start: $kui-space-80;
}

/*
.stack-with-borders

Variant of .stack with a horizontal border in the center of the gap.
*/
.stack-with-borders>*+* {
  margin-block-start: $kui-space-40;
  border-block-start: $kui-border-width-10 solid $kui-color-border;
  padding-block-start: $kui-space-40;
}

/*
.columns

For horizontally listing elements with consistent space between. Once the space defined by `--threshold` is exhausted, the elements will **start** to wrap.

Adapted from https://every-layout.dev/layouts/switcher/.
*/

.columns {
  --threshold: 40rem;

  display: flex;
  flex-wrap: wrap;
  gap: $kui-space-80;
}

.columns>* {
  flex-grow: 1;
  flex-basis: calc((var(--threshold) - 100%) * 999);
  min-inline-size: 0;
}
