/*
.stack

For stacking elements with consistent space between.

Adapted from https://every-layout.dev/layouts/stack/.
*/

.stack>*+* {
  margin-block-start: var(--AppGap);
}

/*
.columns

For horizontally listing elements with consistent space between. Once the space defined by `--threshold` is exhausted, the elements will **start** to wrap.

Adapted from https://every-layout.dev/layouts/switcher/.
*/

.columns {
  --threshold: 30rem;
  --columns: 3;

  display: flex;
  flex-wrap: wrap;
  gap: var(--AppGap);
}

.columns>* {
  min-inline-size: min(var(--threshold), 100%);
  // Accounts for the gaps.
  inline-size: calc((100% - ((var(--columns) - 1) * var(--AppGap))) / var(--columns));
}


/*
.variable-columns
*/

.variable-columns {
  display: flex;
  flex-wrap: wrap;
  gap: var(--AppGap);
}

.variable-columns>* {
  flex-grow: 1;
}
