// To be used in places where we solely need KCard’s frame properties.
.kcard-border {
  border: var(--KCardBorder);
  border-radius: --KCardBorderRadius;
  background-color: var(--KCardBackground);
}
