.form-wrapper {
  margin-top: $kui-space-100;
  margin-bottom: $kui-space-100;
  padding-right: 5%;
  padding-left: 5%;

  @media (min-width: $kui-breakpoint-desktop) {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.form-card .k-card-body:not(.increase-specificity) {
  font-size: $kui-font-size-40;
  line-height: 1.5;
}

.form>*+* {
  margin-top: $kui-space-100;
  border-top: $kui-border-width-10 solid $kui-color-border;
  padding-top: $kui-space-100;
}

.form-header {
  display: flex;
  justify-content: space-between;
}

.fact-list {
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
}

.fact-list__item {
  display: flex;
  align-items: center;
  gap: $kui-space-20;
  min-width: 300px;
}

.form-title {
  font-size: $kui-font-size-70;
}

.form-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: $kui-space-100;
}

.form-section__header {
  grid-column-start: 1;
}

.form-section__content {
  grid-column-start: 2;
}

.form-section-title {
  font-size: $kui-font-size-50;
}

.field-group-list > *+* {
  margin-top: $kui-space-80;
}

.field-group-label {
  display: inline-flex;
  margin-bottom: $kui-space-40;
  font-size: $kui-font-size-30;
  line-height: $kui-line-height-30;
  font-weight: $kui-font-weight-semibold;
}

.radio-button-group>* {
  display: flex;
}

.radio-button-group>*+* {
  margin-block-start: $kui-space-40;
}

.instruction-list >*+* {
  margin-top: $kui-space-50;
}

.form-step-title {
  font-size: $kui-font-size-60;
}

.form-step-title:not(:first-child) {
  margin-top: $kui-space-90;
}

.form-step-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: $kui-space-20;
  color: $kui-color-text-inverse;
  background-color: var(--StepBackground);
  border-radius: 50%;
  font-size: $kui-font-size-40;
}
