.form-content {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.form-wrapper>*+* {
  margin-block-start: $kui-space-60;
}

.radio-button-group>* {
  display: flex;
}

.radio-button-group>*+* {
  margin-block-start: $kui-space-40;
}
