.k-button.outline {
  // Makes sure buttons don’t have duplicate outlines
  outline: none;
}

.k-button .kong-icon {
  // Centers icons inside buttons vertically
  align-items: center;
}

.k-dropdown-popover {
  // The *wrapping* element of the dropdown for some reason is a fake button with role=button and “cursor: pointer” so this needs to be reset for the dropdown list.
  cursor: initial;
}

.k-modal .k-modal-body.content-left {
  // Overrides an “auto” margin that unnecessarily shrinks modal content.
  margin-right: 0 !important;
}

.k-table td {
  // Allows wrapping of table cells
  white-space: normal !important;
}

.k-table .k-button {
  // Resets the margin for buttons within tables which get a negative margin in the table component.
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.kong-card .k-card-body:not(.increase-specificity) {
  // Overrides the line-height of KCard bodies using a unitless (i.e. relative) value. KCard bodies have `font-size: 12px` and `line-height: 16px` (i.e. a ratio of 1.33333) by default; however, in some contexts (e.g. table cells), a different font size is specified without a matching line-height. This fixes it without changing the appearance of KCard in other contexts.
  line-height: 1.33333;
}
