$spacing: (
  xxs: $kui-space-20,
  xs: $kui-space-40,
  sm: $kui-space-50,
  md: $kui-space-60,
  lg: $kui-space-80,
  xl: $kui-space-90,
  xxl: $kui-space-110,
  xxxl: $kui-space-110
);
$sides: (
  top,
  right,
  bottom,
  left
);

// Loop spacing and create margin classes
@each $size,
$space in $spacing {
  /* stylelint-disable-next-line scss/no-global-function-names */
  $i: index($spacing, $size $space);

  // Create (t, r, b, l) classes
  @each $marginSide in $sides {

    // if first add a 0 utility
    @if $i ==1 {
      .m#{str-slice($marginSide, 0, 1)}-auto {
        margin-#{$marginSide}: auto !important;
      }

      .m#{str-slice($marginSide, 0, 1)}-0 {
        margin-#{$marginSide}: 0px !important;
      }
    }
  }

  @each $marginSide in $sides {
    .m#{str-slice($marginSide, 0, 1)}-#{$i} {
      margin-#{$marginSide}: #{$space} !important;
    }
  }

  // Create X, Y, and A (all) classes
  .mx-#{$i} {
    margin-left: #{$space} !important;
    margin-right: #{$space} !important;
  }

  .my-#{$i} {
    margin-bottom: #{$space} !important;
    margin-top: #{$space} !important;
  }

  .ma-#{$i} {
    margin-bottom: #{$space} !important;
    margin-left: #{$space} !important;
    margin-right: #{$space} !important;
    margin-top: #{$space} !important;
  }
}

// Loop spacing and create padding classes
@each $size,
$space in $spacing {
  /* stylelint-disable-next-line scss/no-global-function-names */
  $i: index($spacing, $size $space);

  // Create (t, r, b, l) classes
  @each $paddingSide in $sides {

    // if first add a 0 utility
    @if $i ==1 {
      .p#{str-slice($paddingSide, 0, 1)}-0 {
        padding-#{$paddingSide}: 0px !important;
      }
    }
  }

  @each $paddingSide in $sides {
    .p#{str-slice($paddingSide, 0, 1)}-#{$i} {
      padding-#{$paddingSide}: #{$space} !important;
    }
  }

  // Create X & Y classes
  .px-#{$i} {
    padding-left: #{$space} !important;
    padding-right: #{$space} !important;
  }

  .py-#{$i} {
    padding-bottom: #{$space} !important;
    padding-top: #{$space} !important;
  }

  .pa-#{$i} {
    padding-bottom: #{$space} !important;
    padding-left: #{$space} !important;
    padding-right: #{$space} !important;
    padding-top: #{$space} !important;
  }
}
