//
// Variables / Settings
//

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap");

$body-font: "Roboto", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$root-font-size: 100%;
$base-font-size: 15px;
$base-heading-font-family: $body-font;
$fw-light: 400;
$fw-bold: 700;

// colors
$gray-1: #faf5f9;
$gray-2: #dbbbd5;
$gray-3: #868284;

// misc
$image-path: "/images/";
$container-width: 76.88rem; // 1230px;
$container-width-compact: 65rem; // 1040px
$gutter: 1.875rem; // 30px
