:root {
  --font-family-sans: Inter, Helvetica, Arial, sans-serif;
  --font-family-mono: 'Fira Mono', Menlo, Monaco, Consolas, Liberation Mono, 'Courier New', monospace;

  // COMPONENTS
  --AppHeaderHeight: 60px;
  --AppSidebarWidth: 280px;

  // ONBOARDING
  --onboarding-accent: #822dc5;
  --onboarding-accent-dark: #260d50;
  --onboarding-shadow: 4px 4px 14px 4px rgba(103, 71, 128, 0.11);
  --onboarding-heading-1: var(--onboarding-accent-dark);
  --onboarding-heading-2: var(--onboarding-accent);
  --graph-color-1: #290b53;
  --graph-color-2: #5a416f;
  --graph-color-3: #7b2bbc;
  --graph-color-4: #b31aab;
  --graph-color-5: #d163ce;
  --graph-color-6: #e13eaf;
  --graph-color-7: #4a4622;
  --graph-color-8: #fff182;
  --graph-color-9: #fff9ca;

  // KONGPONENTS
  // Reduces the excessive vertical padding.
  --KPopPaddingY: var(--spacing-xs);
  // Sets the font size to the size of body copy as the default of 12 pixels is way too small.
  --KBadgeFontSize: 1rem;
  // Removes the default max width of 200 pixels because badges should never be cut-off.
  --KBadgeMaxWidth: auto;
}
