/* dataplane status */

.entity-status {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: 20px;
  color: var(--green-1);
}

.entity-status.is-offline {
  color: var(--red-base);
}

.entity-status.is-offline .entity-status__dot {
  background-color: var(--red-base);
}

.entity-status__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 6px;
  background-color: var(--green-1);
}

/* Kongponents icon utilities */

.kong-icon--centered {
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
}

/* KCard variants */

@media screen and (min-width: 1024px) {
  .k-card--small {
    max-width: 65%;
  }
}

/* KEmptyState variants */

.empty-state-wrapper.empty-state--wide-content p {
  max-width: 85%;
}

.empty-state-wrapper.empty-state--compact {
  padding: 2rem 0;
}

/* KTabs overrides */

.k-tabs .tab-container {
  outline: 0 !important;
}

/* misc utils */

.help-icon {
  --i: 22px;

  display: inline-block;
  margin: 0 8px;
  width: var(--i);
}

.help-icon a {
  display: inline-block;
  width: var(--i);
  height: var(--i);
  line-height: var(--i);
  border-radius: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  background-color: var(--gray-2);
  cursor: pointer;
}

.custom-control-icon {
  display: inline-block;
  margin-right: 5px;
  font-size: var(--type-lg);
  line-height: 0;
  max-height: 18px;
}

.external-link-btn {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #fff !important;
  background-color: var(--KButtonPrimaryBase);
  text-decoration: none !important;
}

.external-link-btn:after {
  display: inline-block;
  content: "\203A";
  margin-left: 5px;
}

.external-link-btn:hover {
  background-color: #0089eb;
}
