/* dataplane status */

.entity-status {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: 20px;
  color: var(--green-400);
}

.entity-total-updates {
  display: flex;
  align-items: center;
  gap: 2px;
  pointer-events: auto !important;
}

.entity-status.is-offline {
  color: var(--red-600);
}

.entity-status.is-degraded {
  color: #ff8040;
}

.entity-status.is-degraded .entity-status__dot {
  background-color: #ff8040;
}

.entity-status.is-offline .entity-status__dot {
  background-color: var(--red-600);
}

.entity-status__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 6px;
  background-color: var(--green-400);
  flex-shrink: 0;
}

/* Kongponents icon utilities */

.kong-icon--centered {
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
}

/* KCard variants */

@media screen and (min-width: 1024px) {
  .k-card--small {
    max-width: 65%;
  }
}

/* KEmptyState */

.empty-state-content p {
  width: 100%;
  max-width: var(--KEmptyStateContentWidth) !important;
}

.empty-state-wrapper {
  padding: 2rem 0 !important;
}

/* KTabs overrides */

.k-tabs .tab-container {
  outline: 0 !important;
}

/* KModal overrides */

.k-modal {
  .modal-body {
    max-height: calc(100vh - 250px);
    overflow-y: auto;
  }

  .k-modal-content .k-modal-body.k-modal-body.content-left {
    margin-right: 0;
  }

  .modal-body, .modal-header, .modal-footer {
    padding: 4px;
  }
}

/* KPopover overrides */

.k-popover {
  z-index: 2000 !important;

  .k-badge {
    display: inline;
  }
}

/* misc utils */

.help-icon {
  --i: 22px;

  display: inline-block;
  margin: 0 8px;
  width: var(--i);
}

.help-icon a {
  display: inline-block;
  width: var(--i);
  height: var(--i);
  line-height: var(--i);
  border-radius: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
  background-color: var(--gray-2);
  cursor: pointer;
}

.custom-control-icon {
  display: inline-block;
  margin-right: 5px;
  font-size: var(--type-lg);
  line-height: 0;
  max-height: 18px;
}

.external-link-btn {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-xs) var(--spacing-sm);
  font-family: var(--font-family-sans);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  text-decoration: none;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  color: #fff !important;
  background-color: var(--KButtonPrimaryBase);
  text-decoration: none !important;
}

.external-link-btn:after {
  display: inline-block;
  content: "\203A";
  margin-left: 5px;
}

.external-link-btn:hover {
  background-color: #0089eb;
}

.external-link-code-block {
  @apply text-sm block p-4;

  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background-color: var(--code-background);
}

.main-content {
  padding: 44px;
  transition: var(--transitionTiming) margin var(--transition);
}

.main-content-container {
  max-width: var(--global-content-max-width);
  margin: 0 auto;
}

.welcome {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.notification-amount {
  @apply absolute text-xs text-white rounded-full w-4 h-4 flex justify-center items-center border border-white;

  background: var(--yellow-300);
  top: -8px;
  right: -8px;
}

// Makes badges bigger
.k-badge {
  --KBadgeFontSize: 1.2em;
  --KBadgePaddingY: var(--spacing-xs);
  --KBadgePaddingX: var(--spacing-sm);
}

// Make sure buttons don’t have duplicate outlines
.k-button.outline {
  outline: none;
}

// Centers icons inside buttons vertically, makes icons as small as they used to be
.k-button .kong-icon {
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
}

// Allows wrapping of table cells
.k-table.k-table tbody td {
  white-space: normal;
}