/* dataplane status */

.entity-status {
  display: flex;
  align-items: center;
  letter-spacing: 0;
  line-height: 20px;
  color: var(--green-1);
}

.entity-status.is-offline {
  color: var(--red-base);
}

.entity-status.is-offline .entity-status__dot {
  background-color: var(--red-base);
}

.entity-status__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  margin-right: 6px;
  background-color: var(--green-1);
}

/* Kongponents icon utilities */

.kong-icon--centered {
  display: block;
  margin: 0 auto 10px auto;
  text-align: center;
}

/* KCard variants */

@media screen and (min-width: 1024px) {
  .k-card--small {
    max-width: 65%;
  }
}

/* KEmptyState variants */
.empty-state--wide-content p {
  max-width: 85% !important;
}
