@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.woff2?v=2.137") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Italic.woff2?v=2.137") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.woff2?v=2.137") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-BoldItalic.woff2?v=2.137") format("woff2");
  font-weight: bold;
  font-style: italic;
}
