/* Roboto */
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Thin/Roboto-Thin.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Thin/Roboto-Thin.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/ThinItalic/Roboto-ThinItalic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/ThinItalic/Roboto-ThinItalic.woff?v=2.137") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Light/Roboto-Light.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Light/Roboto-Light.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/LightItalic/Roboto-LightItalic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/LightItalic/Roboto-LightItalic.woff?v=2.137") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Regular/Roboto-Regular.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Regular/Roboto-Regular.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Italic/Roboto-Italic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Italic/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Italic/Roboto-Italic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Italic/Roboto-Italic.woff?v=2.137") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Medium/Roboto-Medium.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Medium/Roboto-Medium.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/MediumItalic/Roboto-MediumItalic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/MediumItalic/Roboto-MediumItalic.woff?v=2.137") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Bold/Roboto-Bold.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Bold/Roboto-Bold.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.woff?v=2.137") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/BoldItalic/Roboto-BoldItalic.woff?v=2.137") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Black/Roboto-Black.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/Black/Roboto-Black.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/BlackItalic/Roboto-BlackItalic.woff2?v=2.137") format("woff2"),
    url("../fonts/Roboto/BlackItalic/Roboto-BlackItalic.woff?v=2.137") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* Roboto Mono */
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono/Regular/RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono/Medium/RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono/Bold/RobotoMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Material Icons */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("../fonts/MaterialIcons/MaterialIcons-Regular.woff2") format("woff2"),
    url("../fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"),
    url("../fonts/MaterialIcons/MaterialIcons-Regular.ttf") format("truetype");
}
