/* Form inputs */

select {
  appearance: none;
  border-radius: 3px;
  border: 1px solid rgba(23,130,207,0.35);
  font-size: 16px;
  color: #1155CB;
  line-height: 20px;
  padding: 10px 16px 10px 13px;

  background-color: #fff;
  background-image: url("../images/chevron-down.svg?external");
  background-position: calc(100% - 13px) 50%;
  background-repeat: no-repeat;
}

.k-button, button, [type="button"] {
  transition: none !important;
}

.k-button.primary {

}

.code-sample {
  font-family: var(--font-family-mono);
}

/* Form Wrapper & Base Styles
========================================================================== */
.form-container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .form-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 70%;
    -ms-flex: 0 0 70%;
    flex: 0 0 70%;
    max-width: 70%;
  }
}

@media (max-width: 860px) {
  .form-container {
    -webkit-flex-basis: 0;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
}

.vue-form-generator .form-control {
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.7);
}

.vue-form-generator .form-group,
.form-group {
  margin-bottom: 1.5rem;
}

.vue-form-generator .form-group:last-child,
.form-group:last-child {
  margin-bottom: 2rem;
}

.vue-form-generator .field-advanced {
  margin-top: -.5rem;
  margin-bottom: .5rem;
}

.vue-form-generator .field-advanced .form-group:last-child {
  margin-bottom: 1rem;
}

.top-border {
  padding-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.bottom-border {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

/* inputs
========================================================================== */
.form-control {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  border-width: 1px;
}

.form-control:focus {
  outline: none;
  border: 1px solid #80caff;
}

.form-control:disabled {
  background-color: #f7f7f7;
  opacity: .75;
}

.form-control.has-error {
  border: 1px solid #ff8280;
}

.vue-form-generator .form-group.hide-label > label {
  display: none;
}

.vue-form-generator .form-group label {
  font-weight: 500;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  margin: 0px 0px 8px 0px;
  width: 100%;
}

.form-group label small {
  float: right;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  color: rgba(0,0,0,.5);
}

.form-group.required>label:after {
  display: none;
}

.form-group.optional>label,
.form-group.semi-optional>label {
  position: relative;
  width: 100%;
}

.form-group.optional>label:after,
.form-group.semi-optional>label:after{
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 14px;
  font-style: italic;
  font-weight: normal;
  color: rgba(0,0,0,.5);
}

.form-group.optional>label:after {
  content: 'Optional'
}

.form-group.semi-optional>label:after {
  content: 'Semi-Optional'
}

.vue-form-generator span.help .icon {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+ICA8cGF0aCBmaWxsPSIjMDA4NkU2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik02IDExYy0yLjc2MSAwLTUtMi4yMzktNS01czIuMjM5LTUgNS01IDUgMi4yMzkgNSA1LTIuMjM5IDUtNSA1TTYgMEMyLjY4NiAwIDAgMi42ODYgMCA2czIuNjg2IDYgNiA2IDYtMi42ODYgNi02LTIuNjg2LTYtNi02bTAgM2MtMS4xMDUgMC0yIC44OTUtMiAyaDFjMC0uNTUyLjQ0OC0xIDEtMXMxIC40NDggMSAxLS40NDggMS0xIDEtMSAuNDQ4LTEgMWgxYzEuMTA1IDAgMi0uODk1IDItMnMtLjg5NS0yLTItMnpNNSA5aDJWOEg1djF6Ii8+PC9zdmc+);
  width: .75rem;
  height: .75rem;
}

.vue-form-generator span.help .helpText {
  left: -108px;
  width: 224px;
  padding: .5rem .75rem;
  color: rgba(0, 0, 0, 0.75);
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.12);
  z-index: 900;
}

.vue-form-generator span.help .helpText:before,
.vue-form-generator span.help .helpText:after {
	position: absolute;
  top: 100%;
	left: 50%;
	height: 0;
	width: 0;
	border: solid transparent;
	pointer-events: none;
	content: " ";
}

.vue-form-generator span.help .helpText:before {
  border-top-color: #d6d6d6;
  border-width: 13px;
  margin-left: -13px;
}

.vue-form-generator span.help .helpText:after {
	border-top-color: #fff;
	border-width: 12px;
	margin-left: -12px;
}

.hint {
  font-size: small;
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 0.6;
}


/* Selection Group (radio select field group)
========================================================================== */
.option-field {
  padding-left: 1.5rem;
  width: 100%;
}
.option-field .form-group:last-child {
  margin-bottom: 0;
}

/* Radios
========================================================================== */
.custom-control-indicator {
  background-color: rgba(0, 0, 0, 0.12);
}
.custom-control-input:checked~.custom-control-indicator {
  background-color: #3295FC;
}

.custom-control-input:focus~.custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #3295FC;
}

/* Checkboxes
========================================================================== */
.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #262626;
  margin: 0px 0px 8px 0px;
}

.form-control label,
.form-control input[type="checkbox"] {
  vertical-align: middle;
  line-height: 1rem;
}

/* MultiCheck checkbox wrapper */
.form-group .field-wrap input[type="checkbox"],
.form-control .list-row input[type="checkbox"],
.form-check-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: relative;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.form-group .field-wrap input[type="checkbox"]:focus,
.form-control .list-row input[type="checkbox"]:focus,
.form-check-input:focus {
  outline: none;
}

.form-group .field-wrap input[type="checkbox"]:before,
.form-control .list-row input[type="checkbox"]:before,
.form-check-input:before {
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  margin-right: 5px;
  background: #fff;
}

.form-group .field-wrap input[type="checkbox"]:checked:before,
.form-control .list-row input[type="checkbox"]:checked:before,
.form-check-input:checked:before {
  background-color: #3295FC;
  border-color: #3295FC;
}

.form-group .field-wrap input[type="checkbox"]:checked:after,
.form-control .list-row input[type="checkbox"]:checked:after,
.form-check-input:checked:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  display: inline-block;
  height: 6px;
  width: 9px;
  color: #fff;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
}

.form-group .field-wrap input[type="checkbox"]::-ms-check,
.form-control .list-row input[type="checkbox"]::-ms-check,
.form-check-input::-ms-check {
  display: inline-block;
  height: 16px;
  width: 16px;
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  margin-right: 5px;
}

.form-group .field-wrap input[type="checkbox"]:checked::-ms-check,
.form-control .list-row input[type="checkbox"]:checked::-ms-check,
.form-check-input:checked::-ms-check {
  color: #fff;
  background-color: #3295FC;
}

.form-group.required input[type="checkbox"],
.form-group [required="required"]
{
  box-shadow: none;
}

.form-control label,
.form-control input[type="checkbox"] {
  vertical-align: middle;
  line-height: 1rem;
}

.form-inline .form-check-input {
  margin-top: 0.25rem;
}

.vue-form-generator .form-group.field-checkbox label {
  margin-top: -5px;
}

/* Toggle Switch
========================================================================== */
.vue-form-generator .field-switch .field-wrap input[type="checkbox"] {
  position: absolute;
}
.vue-form-generator .field-switch .field-wrap label {
  width: 42px;
  height: 20px;
  margin: 0;
}
.vue-form-generator .field-switch input:checked~.label {
  background: #2196F3;
  box-shadow: none;
}
.vue-form-generator .field-switch .label {
  background: #ccc;
}
.vue-form-generator .field-switch .label:before,
.vue-form-generator .field-switch .label:after {
  color: rgba(0,0,0,.7);
  text-shadow: none;
  margin-left: 42px;
  font-size: 14px;
  left: 18px;
  font-weight: normal;
  text-transform: none;
  font-family: 'Roboto';
  width: max-content;
}
.vue-form-generator .field-switch .handle {
  width: 17px;
  height: 17px;
}
.vue-form-generator .field-switch input:checked~.handle {
  left: calc(100% - 18px);
}
.vue-form-generator .field-switch .handle:before {
  background: none;
  box-shadow: none;
}
