/* Form inputs */

select {
  appearance: none;
  border-radius: 3px;
  border: 1px solid rgba(23,130,207,0.35);
  font-size: 16px;
  color: #1155CB;
  line-height: 20px;
  padding: 10px 16px 10px 13px;

  background-color: #fff;
  background-image: url("../images/chevron-down.svg?external");
  background-position: calc(100% - 13px) 50%;
  background-repeat: no-repeat;
}

.k-button, button, [type="button"] {
  transition: none !important;
}

.k-button.primary {

}

.code-sample {
  font-family: var(--font-family-mono);
}
