/* Base */
html,
body {
  height: 100%;
}

body {
  padding-top: var(--topbar-height, initial);
  font-family: var(--base-font-family);
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: none;
}
