/* Typography */

.title-3x {
  font-size: var(--type-xxxl);
}

.title-2x {
  font-size: var(--type-xxl);
}

.title-1x {
  font-size: var(--type-xl);
}

a:link, a:visited {
  color: var(--LinkColorBase);
  text-decoration: underline;
}

a:hover, a:active, a:focus {
  color: var(--LinkColorHover);
}
