/* Utilities */

.kutil-sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.kutil-img-full {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.kutil-img-fluid {
  max-width: 100%;
  height: auto;
}

.kutil-clear-text {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.kutil-quotify {
  quotes: "“" "”" "‘" "’";
}

.kutil-quotify:before {
  content: open-quote;
}

.kutil-quotify:after {
  content: close-quote;
}

/* @mixin retina-mq {
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin target-ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
} */

.kutil-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.kutil-sticky:before,
.kutil-sticky:after {
  content: "";
  display: table;
}

/* New for Kuma */

.capitalize {
  display: inline-block;
  text-transform: capitalize;
}

/* position */
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

.font-normal {
  font-weight: 400;
}

.font-light {
  font-weight: 100;
}

.font-semibold {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* badges */
.badge {
  display: inline-block;
  padding: 0.25rem 0.4rem;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.top-border {
  padding-top: 1.5rem;
  border-top: 1px solid var(--black-10);
}

.bottom-border {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--black-10);
}

.text-muted {
  color: var(--black-45) !important;
}
.text-danger {
  color: var(--red-500) !important;
}

.h-100 {
  height: 100%;
}
.h-screen {
  min-height: 100vh;
}

code.inline {
  @apply py-1 px-2 m-0 text-sm rounded;

  background-color: var(--gray-1);
}

code.block {
  @apply my-4 rounded-md overflow-auto p-4 text-sm;

  background-color: var(--gray-1);
  border: 1px solid var(--gray-4);
}
