/* Variables */

:root {
  /* Kuma */
  --base-font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;
  --base-font-size-root: 62.5%;
  --base-font-size: 15px;
  --font-weight-light: 400;
  --font-weight-bold: 700;

  /* Colors */
  --gray-1: #faf5f9;
  --gray-2: #dbbbd5;
  --gray-3: rgba(0, 0, 0, 0.45);
  --gray-4: #ebebeb;
  --gray-5: #f7f9fa;
  --blue-1: #2d64b3;
  --blue-2: #3d88f2;
  --blue-3: rgba(61,136,242,0.07);
  --blue-4: #1155CB;
  --black-1: rgba(0, 0, 0, 0.75);
  --green-1: #1b9844;

  /* Topbar */
  --topbar-height: 4rem;

  /* Sidebar */
  --sidebar-width: 240px;

  /* Kongponents color remappings */
  --KButtonPrimaryBase: #1155CB;
}
