/* Variables */

:root {
  /* Kuma */
  --base-font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial,
    sans-serif;
  --base-font-size-root: 62.5%;
  --base-font-size: 15px;
  --font-weight-light: 400;
  --font-weight-bold: 700;

  /* Colors */
  --gray-1: #faf5f9;
  --gray-2: #dbbbd5;
  --gray-3: rgba(0, 0, 0, 0.45);
  --gray-4: #ebebeb;
  --gray-5: #f7f9fa;
  --gray-6: #fdfdfd;
  --gray-7: #f3f5f7;

  --blue-1: #2d64b3;
  --blue-2: #3d88f2;
  --blue-3: rgba(61,136,242,0.07);
  --blue-4: #1155CB;
  --black-1: rgba(0, 0, 0, 0.75);

  --green-1: #1b9844;

  /* logo colors */
  --logo-coral: #EE485D;
  --logo-teal: #00CDDE;
  --logo-mint: #00E8C2;
  --logo-navy: #172350;
  --logo-green: #3db664;
  --logo-purple: #290b53;

  --brand-color-1: var(--logo-coral);
  --brand-color-2: var(--logo-teal);
  --brand-color-3: var(--logo-mint);
  --brand-color-4: var(--logo-navy);
  --brand-color-5: var(--logo-green);
  --brand-color-6: var(--logo-purple);

  /* Topbar */
  --topbar-height: 4rem;

  /* Sidebar */
  --sidebar-width: 240px;
  --sidebar-width-closed: 63px;
  --sidebar-bg-color: var(--gray-6);

  /* Kongponents color remappings */
  --KButtonPrimaryBase: var(--blue-4);
  --KButtonPrimaryHover: #226ced;
}
