name: project-lifecycle

on:
  schedule:
    - cron: 0 8 * * *
  workflow_dispatch:
  issues:
    types:
      - reopened
      - opened
      - labeled

permissions:
  contents: read # for checking out the repository (e.g. actions/checkout)

jobs:
  lifecycle:
    uses: kumahq/.github/.github/workflows/wfc_lifecycle.yml@ec5a7f83fb1f5b03707118050147a70fd115c231
    permissions:
      issues: write # for editing issues (e.g. adding labels)
    with:
      filesToIgnore: CODEOWNERS
    secrets:
      app_id: ${{ secrets.APP_ID }}
      private_key: ${{ secrets.APP_PRIVATE_KEY }}
